/* Dark */
body.dark .header--six .dt_header-navwrapper,
body.dark .dt_mobilenav-main,
body.dark .dt_contact_form,
body.dark .post-single,
body.dark .about-author,
body.dark .page-header.style-2 .dt-container-md .dt-row .dt-col-12 > div,
body.dark .page-header:not(.style-2),
body.dark .dt_header.header--three,
body.dark .padding-20.bg-white.shadow,
body.dark .post.bg-white,
body.dark .post .details.bg-white,
body.dark .dt_tabs ul li button,
body.dark .exclusive-wrapper,
body.dark input[type="text"],
body.dark input[type="email"],
body.dark input[type="url"],
body.dark input[type="password"],
body.dark input[type="search"],
body.dark input[type="number"],
body.dark input[type="tel"],
body.dark input[type="range"],
body.dark input[type="date"],
body.dark input[type="month"],
body.dark input[type="week"],
body.dark input[type="time"],
body.dark input[type="datetime"],
body.dark input[type="datetime-local"],
body.dark input[type="color"],
body.dark textarea,
body.dark .widget_calendar table,
body.dark .contact-info-box,
body.dark .about-author,
body.dark blockquote.wp-block-quote {
    background: rgba(255,255,255,.1);
}

body.dark .accordion__icon .line-01,
body.dark .accordion__icon .line-02,
body.dark .dt_sidebar-toggle .dt_sidebar-wrapper .dt_sidebar-close,
body.dark .slick-dots li:not(.slick-active) button:before {
	background: #fff;
}

body.dark .comment-list .comment .children .comment-meta .comment-author img,
body.dark .post.post-over-content .thumb:after,
body.dark .dt_navbar-menu.is--sticky.on,
body.dark .is--sticky.on,
body.dark .dt_mobilenav,
body.dark .mainfeatured_section .post-tabs,
body.dark .comment-list .comment .children .comment-body:before,
body.dark .dt_footer_copyright .widget_nav_menu .sub-menu,
body.dark .dt_footer .dt_navbar-mainmenu .dropdown-menu,
body.dark .dt_navbar-cart-item .dt_navbar-shopcart,
body.dark .dt_header .widget_nav_menu .sub-menu,
body.dark .dt_navbar-nav .dt_navbar-mainmenu .dropdown-menu,
body.dark .dt_mobilenav-mainmenu-inner,
body.dark {
    background-color: var(--dt-secondary-color);
}

body.dark .hero svg path {
    fill: var(--dt-secondary-color);
}

body.dark .accordion__title,
body.dark .dt_footer.footer-light,
body.dark .dt_header-topbar {
    background-color: rgba(0,0,0,.5);
}

body.dark.btn--effect-one .dt-btn.dt-btn-secondary {
    --dt-secondary-color: #000;
}

body.dark .is--sticky.on,
body.dark .dt_navbar-menu.is--sticky.on {
    border-bottom: solid 1px rgba(189, 189, 189, 0.3);
}

body.dark .wp-block-calendar table:where(:not(.has-text-color)) td,
body.dark .wp-block-calendar table:where(:not(.has-text-color)) th,
body.dark .widget_calendar table td {
    border-color: rgba(189, 189, 189, 0.3);
}

body.dark .post-carousel-banner .post,
body.dark .dt_navbar-cart-item .dt_navbar-shopcart,
body.dark .dt_header .widget_nav_menu .sub-menu,
body.dark .dt_navbar-nav .dt_navbar-mainmenu .dropdown-menu {
    border: solid 1px rgba(189, 189, 189, 0.3);
}

body.dark .header--ten .dt_navbar .dt_navbar-subscribe-item .dt-subscribe:not(:hover, :focus),
body.dark .header--ten .dt_navbar .dt_navbar-login-item .dt-user-login:not(:hover, :focus),
body.dark .header--ten .dt_navbar .dt_navbar-cart-item .dt_navbar-cart-icon:not(:hover, :focus),
body.dark .header--ten .dt_navbar .dt_navbar-search-item button.dt_navbar-search-toggle:not(:hover, :focus),
body.dark,
body.dark .dt_sidebar-toggle .dt_sidebar-wrapper,
body.dark .post .meta,
body.dark .post .meta a:not(:hover, :focus),
body.dark .post-single .post-content,
body.dark .breadcrumb li a:not(:hover, :focus),
body.dark .breadcrumb li,
body.dark .breadcrumb li:not(:first-child):before,
body.dark .exclusive-tags-inner ul li a:not(:hover, :focus),
body.dark .dt_tabs ul li button {
    color: rgba(255,255,255,.7);
}

body.dark .dt_section_list li,
body.dark .dt_skillbars .dt_skillbars-item .dt_skillbars-main .dt_skillbars-percent,
body.dark .exclusive-posts .marquee a:not(:hover, :focus),
body.dark .tabs li button,
body.dark .toptags-inner ul li a:not(:hover, :focus),
body.dark .team-item .team-title a:not(:hover, :focus),
body.dark .comment-form > p > label,
body.dark .comment-meta .comment-metadata > a:not(:hover, :focus),
body.dark .comments-area .comment-meta .comment-author a:not(:hover, :focus),
body.dark .widget_calendar table td,
body.dark input[type="text"],
body.dark input[type="email"],
body.dark input[type="url"],
body.dark input[type="password"],
body.dark input[type="search"],
body.dark input[type="number"],
body.dark input[type="tel"],
body.dark input[type="range"],
body.dark input[type="date"],
body.dark input[type="month"],
body.dark input[type="week"],
body.dark input[type="time"],
body.dark input[type="datetime"],
body.dark input[type="datetime-local"],
body.dark input[type="color"],
body.dark textarea,
body.dark blockquote.wp-block-quote p,
body.dark .about-author .details h4.name a:not(:hover, :focus),
body.dark .post .about-author .social-share .icons li a:not(:hover, :focus),
body.dark .single-post-share .icons li a:not(:hover, :focus),
body.dark .post .post-bottom .more-link,
body.dark .dt_mobilenav-mainmenu-content .dt_mobilenav-dropdown-toggle button,
body.dark .dt_header .widget_nav_menu .menu-item-has-children:not(:hover, .focus, .active)>a:after,
body.dark .dt_footer .widget_nav_menu .menu-item-has-children:not(:hover, .focus, .active)>a:after,
body.dark .dt_footer .dt_navbar-mainmenu .menu-item-has-children:not(:hover, .focus, .active)>a:after,
body.dark .dt_navbar-nav .dt_navbar-mainmenu .dropdown-menu .menu-item-has-children:not(:hover, .focus, .active)>a:after,
body.dark .dt_navbar-nav .dt_navbar-mainmenu .menu-item-has-children:not(:hover, .focus, .active)>a:after,
body.dark .dt_footer_copyright .widget_nav_menu .sub-menu,
body.dark .dt_footer .dt_navbar-mainmenu .dropdown-menu,
body.dark .dt_navbar-cart-item .dt_navbar-shopcart,
body.dark .dt_header .widget_nav_menu .sub-menu,
body.dark .dt_navbar-nav .dt_navbar-mainmenu .dropdown-menu,
body.dark .dt_navbar-mainmenu .dropdown-menu li:not(.active, .focus) a:not(:hover, :focus),
body.dark .dt_mobilenav-mainmenu-inner .dt_navbar-mainmenu>li:not(.active, .focus)>a:not(:hover, :focus),
body.dark .dt_mobilenav-mainmenu-inner li.menu-item-has-children ul.dropdown-menu li:not(.active, .focus)>a:not(:hover, :focus),
body.dark .dt_navbar-nav .dt_navbar-mainmenu>li:not(.active, .focus)>a:not(:hover, :focus),
body.dark .site--logo .site--title,
body.dark .widget ul:not(.wp-block-social-links) li a:not(:hover, :focus),
body.dark .post .post-title a:not(:hover, :focus),
body.dark .search--header .categories h5,
body.dark h1, body.dark .h1,
body.dark h2, body.dark .h2,
body.dark h3, body.dark .h3,
body.dark h4, body.dark .h4,
body.dark h5, body.dark .h5,
body.dark h6, body.dark .h6 {
    color: #fff;
}

body.dark .widget.box {
    background: #000 !important;
}

body.dark .search--header {
    background-color: rgba(0, 0, 0, 0.9);
}

body.dark .dt_not_found .dt_siteheading .dt_siteheading_box,
body.dark .dt_sidebar-toggle .dt_sidebar-wrapper,
body.dark .dt_uptop svg,
body.dark .comments-area .comment-meta .comment-author img,
body.dark .comment-list .comment .comment-body:before,
body.dark .team-item .team-content-wrap .mask-wrap .team-content,
body.dark .search--header:before {
    background-color: rgba(0, 0, 0);
}

body.dark .dt_sidebar-toggle .dt_sidebar-wrapper {
    border-left: solid 1px rgba(189, 189, 189, 0.2);
}

body.dark .dt-btn-loadmore.dt-btn-secondary {
    background-color: var(--dt-main-color);
}

body.dark {
    --dt-white-color: rgba(255,255,255,.1);
}