.newsmunch-predefine-color,
.newsmunch-predefine-pattern {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-top: 5px;
}

.newsmunch-predefine-color input,
.newsmunch-predefine-pattern input {
    display: none;
}

.newsmunch-predefine-color label {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 6px;
}

.newsmunch-predefine-color span.color_select {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.newsmunch-predefine-color span.color_select.selected_color {
    -webkit-box-shadow: 0 0 5px 2px rgb(0 0 0 / 25%);
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 25%);
    border: 1px solid #13a1dc;
}

.newsmunch-predefine-pattern img {
    width: 42px;
    height: 42px;
    margin: 6px;
    object-fit: cover;
    border: 1px solid #8c8f94;
    border-radius: 100%;
}

/* NewsMunch Radio Image Select */

.newsmunch-radio-image-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.customize-control-newsmunch-radio-image .newsmunch-radio-image-select > label {
    flex-basis: 33%;
    position: relative;
    z-index: 0;
    box-shadow: none;
    outline: 0;
    max-width: initial;
}

.newsmunch-radio-image-select > label.ui-state-active:after {
    content: "\f147";
    position: absolute;
    top: 3px;
    left: 3px;
    font-family: dashicons;
    color: #fff;
    background-color: #007cba;
    width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    line-height: 1.5;
    border-radius: 0px 0px 12px 0px;
}

.customize-control-newsmunch-radio-image .ui-buttonset {
	text-align: center;
}

.customize-control-newsmunch-radio-image label {
	display: inline-block;
	max-width: 33.3%;
	padding: 3px;
	font-size: inherit;
	line-height: inherit;
	height: auto;
	cursor: pointer;
	border-width: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	vertical-align: inherit;
}

.customize-control-newsmunch-radio-image label:first-of-type {
	float: left;
}
.customize-control-newsmunch-radio-image label:nth-of-type(n + 3){
	float: right;
}

.customize-control-newsmunch-radio-image label:hover {
	background: none;
	border-color: inherit;
	color: inherit;
}

.customize-control-newsmunch-radio-image label:active {
	background: none;
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.customize-control-newsmunch-radio-image img {
	border: .155em solid #ffffff;
    background-color: #ffffff;
}

.customize-control-newsmunch-radio-image .ui-state-active img {
	border-color: #007cba;
    background-color: #007cba;
}

/* ---//--- */
/* Control: Sortable. */
.customize-control-newsmunch-sortable ul.ui-sortable li {
	padding: 5px 10px;
	border: 1px solid #333;
	background: #fff;
}

.customize-control-newsmunch-sortable ul.ui-sortable li .dashicons.dashicons-menu {
	float: right;
}

.customize-control-newsmunch-sortable ul.ui-sortable li .dashicons.visibility {
	margin-right: 10px;
}

.customize-control-newsmunch-sortable ul.ui-sortable li.invisible {
	color: #aaa;
	border: 1px dashed #aaa;
}

.customize-control-newsmunch-sortable ul.ui-sortable li.invisible .dashicons.visibility {
	color: #aaa;
}

/* Select2 */
body .select2-container { z-index: 99999999; }
body .customize-control-select .select2-container { z-index: 1; }
body .select2-container .select2-selection--single { height: 33px; }
body .select2-container--default .select2-selection--single { height: 33px; border-color: #ddd; border-radius: 0; }
body .select2-container--default .select2-selection--single .select2-selection__rendered { color: #32373c; line-height: 33px; }
body .select2-container--default .select2-selection--single .select2-selection__arrow { height: 30px; }


/* Range */
.range-slider {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
}

.range-slider__range {
    background-color: rgba(0,0,0,.1);
    height: 6px;
    width: 67% !important;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
    -webkit-appearance: none;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 15px;
    background-color: #0073aa;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #0085ba;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #0085ba;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #0085ba;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #0085ba;
}

.range-slider__range:active::-moz-range-thumb {
    background: #0085ba;
}

.customize-control input[type=number].range-slider-value {
    width: 21%;
    height: 28px;
    text-align: center;
    margin-left: 2%;
    border-radius: 4px;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #555;
    -moz-appearance: textfield;

}

.customize-control input[type=number].range-slider-value::-webkit-outer-spin-button,
.customize-control input[type=number].range-slider-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.customize-control input[type=number].range-slider-value {
    -moz-appearance: textfield;
}

.range-reset-slider .dashicons{
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 1;
}

.customize-control span.range-reset-slider {
    display: inline-block;
    position: relative;
    width: 6%;
    line-height: 1;
    color: rgba(0,0,0,.2);
    cursor: pointer;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}
.customize-control span.range-reset-slider:hover {
    color: #fe5252;
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}

.customize-control-range-value .customize-control-title,
.customize-control-range-value .responsive-switchers{
    display: inline-block;
}

.responsive-switchers{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.responsive-switchers .preview-tablet,
.responsive-switchers .preview-mobile{
    display: none;
}

.desktop-range,
.tablet-range,
.mobile-range{
    display: none;
    width:100%;
}

.desktop-range.active,
.tablet-range.active,
.mobile-range.active{
    display: block;
}

.customize-control .responsive-switchers { margin-left: 5px; width: auto; }
.customize-control .responsive-switchers-open li button { display: block; }
.customize-control .responsive-switchers li { float: left; margin: 0; }
.customize-control .responsive-switchers li button { height: 20px; width: 20px; background-color: #a4afb7; cursor: pointer; position: relative; margin-left: 5px; color: #fff; font-size: 10px; text-align: center; border-radius: 50%; padding: 0; border: 0; outline: none; -webkit-transition: background-color .5s; transition: background-color .5s; cursor: pointer; }
.customize-control .responsive-switchers li button:hover { background-color: #c2cbd2; }
.customize-control .responsive-switchers li button.active { background-color: #0073aa; }
.customize-control .responsive-switchers li button i { width: auto; height: auto; font-size: inherit; line-height: 18px; }

/**  Heading Control **/

.customize-control-hidden {
    display: list-item;
    margin-left: -12px;
    margin-right: -12px;
    padding: 7px 15px;
    background: #FFF;
    border-left: 8px solid #0073aa;
	border-right: 8px solid #0073aa;
    max-width: -webkit-fill-available;
	margin-bottom: 10px;
}

.customize-control-hidden label {
    margin-bottom: 0;
    line-height: 2;
    font-size: 1em;
    cursor: default;
    color: #000;
    font-weight: 600;
}

.customize-control-hidden .description {
    text-transform: initial;
}

#customize-theme-controls .customize-pane-child.accordion-section-content {
    height: 100%;
}

input[type=checkbox]:checked::before {
    margin: -0.1rem 0 0 -0.1rem;
    height: 1.25rem;
    width: 1.25rem;
}

input[type=checkbox],
input[type=radio] {
    height: 1.2rem;
    width: 1.2rem;
    min-width: 1.2rem;
}

input[type=radio]:checked::before {
    margin: 0.272rem;
}

input[type="text"], input[type="number"], input[type="url"], input[type="email"], input[type="date"] {
    background: #fcfcff;
    position: relative;
    border-radius: 0;
    border: 1px solid #eee;
    height: 28px;
    line-height: 28px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea {
    background: #fcfcff;
    position: relative;
    border-radius: 0;
    border: 1px solid #eee;
    line-height: 28px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wp-core-ui select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}